body{
    font-family: 'Raleway', sans-serif !important;
color:#212529;
font-size:16px;
line-height:24px;
letter-spacing:1px;
}

a.navbar-brand img {
    max-width: 180px;
}

.model1{color:#212529;}
img.model-img {
    width: 100%;
margin-bottom:15px;
}

.model1 .modal-title{
width:100%;
}


#navbarNav>ul.navbar-nav{margin-left:auto;}

#navbarNav>ul.navbar-nav .btn a{
background-color:#3d94d4;
color: #fff;
padding: 7px 16px;
border-radius: 6px;
font-size: 14px;
}

#navbarNav>ul.navbar-nav a:hover, #navbarNav>ul.navbar-nav .active a{color:#36709a;}

.btn.gray-btn:hover{
background-color:rgb(154, 154, 154);
color:#fff;
}

#navbarNav>ul.navbar-nav .btn a:hover{
background-color:#215d8a;
color:#fff;
}

.banner-bg-home {
background-size:cover;
background-position:center;
    color: #fff;
}


img.logo-img1 {
    margin-bottom: 12px;
width:100%;
    max-width: 400px;
}

.banner-bg-home .content{
text-align:center;
font-size:16px;
font-weight:400;
}

.banner-bg-home .overlay1{
background-color:#020202cc;
    padding:120px 0px;
}

.banner-bg-home .overlay1 .container {
    max-width: 700px;
}

.banner-bg-home .btn.gray-btn{margin-top:15px;}

.banner-bg-home .content h2 {
    font-size: 22px;
    font-weight: 300;
color:#82dbee;

    font-style: italic;
}

.banner-bg-home .content h1{font-size:30px;font-weight:bold;text-transform:uppercase;}

.btn.gray-btn {
    background-color: rgb(87, 87, 87);
    color: #fff;
    padding: 14px 24px;
}

.banner-bg-home .btn.gray-btn{background-color:#3d94d4;}
.banner-bg-home .btn.gray-btn:hover{background-color:#28587b;}


.btn.white-br-btn{
    color: #fff;
    border: 1px solid;
}
.btn.white-br-btn:hover{
background-color:#fff;
color:rgb(43, 154, 225);
border-color:#fff;
}

.btn.br-btn {
    color: #fff;
    border-color: #fff;
}
.btn.br-btn:hover{background-color:#fff;color:#000!important;}


.featured-grid h2.text-center, .testimonials-sec h2.text-center{
margin:40px 0px;
font-size:28px;
}


.featured-post h3 {
    font-size: 22px;
    margin: 10px 0px;
    min-height: 47px;
font-weight:500;
    line-height: 23px;
}

.overflow-scroll1 {
    max-height: 250px;
    overflow: auto;
}

.featured-post {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
border: 1px solid #0000001f;
margin-bottom:30px;
}

.featured-post ul{margin:0px;padding-left:20px;}


.featured-post a:hover{text-decoration:none;}

.featured-post .hover-content {
    opacity: 0;
    background-color:#000000b8;
    padding: 5%;
    color: #fff;
    text-align: center;
    min-height: 269px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-post:hover .hover-content{opacity:1;}

.divider-d {
    height: 2px;
    width:50px;
    background-color: #2b9ae1;
    margin: 10px auto;
}


.top-animate{
  animation-name: move-up;
  animation-duration: 2s;
}

.bottom-animate{
  animation-name: move-down;
  animation-duration: 2s;
}

.left-animate{
  animation-name: move-left;
  animation-duration: 2s;
}

.right-animate{
  animation-name: move-right;
  animation-duration: 2s;
}

@keyframes move-up{
  from {top:-100px}
  to {top:0px;}
}


@keyframes move-down{
  from {bottom:-100px}
  to {bottom:0px;}
}


@keyframes move-left{
  from {left:-100px}
  to {left:0px;}
}

@keyframes move-right{
  from {right:-100px}
  to {right:0px;}
}

.row.hi-features {
    margin: auto;
}

h5.hi-title {
    padding-bottom: 10px;
    line-height: 30px;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-bottom: 2px solid #f0f0f0;
}

.row.hi-features .col-md-4 {
    padding: 40px 4%;
    text-align: center;
    background-size: cover;
    background-position: center;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
color:#fff;
}

.row.hi-features .col-md-4:first-child{
color:#212529;
}

.row.hi-features .col-md-4:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #00000082;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.row.hi-features .col-md-4:first-child:before{content:none;}

.row.hi-features .col-md-4>div, .row.hi-features .col-md-4>h5, .row.hi-features .col-md-4>a{
position:relative;
z-index:999;
}

.row.hi-features .btn {
    font-weight: 600;
    font-size: 15px;
}

.row.hi-features .btn:hover{color:#47c9e5;}


.typing {
  overflow: hidden;
  white-space: nowrap;
  font-size:21px;
font-weight:bold;
  width:620px;
  animation: Typing 5.48s steps(30, end) infinite alternate,
    Bar 1s step-end infinite;
}


.typer1{
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
width:100%;
overflow:hidden;
}

@keyframes Typing {
  0% {
    width: 0;
  }
  100% {
    width:100%;
  }
}

@keyframes Bar {
  0% {
     border-right: 1.6px solid rgba(226, 192, 68,0);
  }
  50% {
     border-right: 1.6px solid rgba(226, 192, 68,.8);
  }
  100% {
      border-right: 1.6px solid rgba(226, 192, 68,0);
  }
}

.bg-blue-sec {
    padding: 40px 0px;
    background-color: #47c9e5;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.bg-blue-sec .btn {
    border-width: 2px;
    font-size: 15px;
    padding: 12px 26px;
    font-weight: 600;
    border-radius: 35px;
}

.form-model {
    color: #000;
}

.form-model .modal-body, .model1 .modal-body{padding:2rem;}

.form-model .modal-title{width:100%;text-align:center;}
.form-model input.text {
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #00000061;
}

.form-model .d-flex input:first-child {
    margin-right: 7px;
}

input.btn.submit {
    background-color: #fff;
    color: #47c9e5;
    display: block;
    width: 117px;
    font-weight: 500;
    font-size: 15px;
    margin: auto;
    border: 1px solid #47c9e5;
}

input.btn.submit:hover{background-color: #47c9e5;color:#fff;}

.site-footer{
    padding: 60px 0px;
    background-color: #262626;
    color: #fff;
}

.site-footer h3{font-weight:600;}
.site-footer a{color:inherit;}
.site-footer a:hover {
    color: #ffffff94;
text-decoration:none;
}
footer.site-footer ul li {
    padding: 5px;
display:block;
font-family:inherit;
position:relative;
}

.contact-list li{padding-left:23px!important;}

footer.site-footer ul li:before{position:absolute;left:0;font-family:FontAwesome;}
footer.site-footer ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.modal{position:fixed!important;z-index: 9999 !important;}

@media only screen and (max-width: 767px) {
.testimonials-sec .control-arrow{display:none;}
.banner-bg-home .content{font-size:15px;}
.banner-bg-home .content h1{font-size:24px;}
.banner-bg-home .content h2{font-size:15px;}
section.bg-blue-sec .row>div {
    text-align: center !important;
    padding: 15px;
}
.site-footer{
text-align:center;
}
.site-footer ul li:before{position:relative!important;margin-right:10px;}
.site-footer .col-md-4 {
    padding: 25px 15px;
}
}




